

/* Start:/local/templates/ast/components/bitrix/news.list/thanks/style.css?1507792388150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/ast/components/bitrix/news.list/thanks/style.css?1507792388150 */
