/* Start:/local/templates/ast/components/bitrix/news/services2/bitrix/news.detail/.default/style.css?1511854349503*/

div.news-detail {
  word-wrap: break-word;

  img.detail_picture {
    float: left;
    margin: 0 8px 6px 1px;
  }
}

.news-date-time {
  color: #486DAA;
}

.ext {
  .img {
    padding-bottom: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .name {
    margin-bottom: 15px;
    background-color: #ff9a0d;
    color: #fff;
    padding: 5px 10px;
  }

  .item a {
    overflow: hidden;
    text-decoration: none;
  }
}

@media (min-width: 576px) {
  .ext .name {
    height: 60px;
  }
}

/* End */
/* /local/templates/ast/components/bitrix/news/services2/bitrix/news.detail/.default/style.css?1511854349503 */
